option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 512M
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /storage: storage

container_commands:
  01_set_permissions:
    command: "chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache"
  02_set_owner:
    command: "chown -R webapp:webapp /var/app/current/storage /var/app/current/bootstrap/cache"
  03_run_migrations:
    command: "php /var/app/current/artisan migrate --force"
    leader_only: true